/*
  CSS reset. Credits to Josh W Comeau
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* not a part of CSS reset */
  height: 100vh;
  width: 100vw;
  padding: 0;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --red: #ed6a5a;
  --light-red: #f29587;
  --selected-red: #e94f37;
  --off-white: #f4f1bb;
  --black: rgba(57, 62, 65, 1);
  --blue: #9bc1bc;
  --shadow-color: 57deg 35% 52%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

header {
    display: grid;
    grid-template-columns: 92.5% 7.5%;
    background-color: var(--red);
    color: var(--black);
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    padding: 1vh;
    border-bottom: 3px solid var(--black);
}



main {
    display: grid;
    grid-template-columns: 7.5% 92.5%;
    height: 100%;
    background-color: var(--off-white);
}

#sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    padding: 1vh;
    gap: 2vh 2vh;
    border-right: 3px solid var(--black);
    align-items: flex-end;
}

#projects-subheading {
  align-self: flex-start;
  width: 100%;
}


.sidebar-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--light-red);
    border-color: var(--black);
    color: var(--black);
    border-radius: 0.5vh;
    width: max(6.5vh, 6.5vw);
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 0.5vw;
}

.sidebar-btn-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.delete-project {
  background-color: var(--light-red);
  color: var(var(--black));
  border: solid var(--black);
  border-radius: 0.25vh;
}

#projects-list {
  display: flex;
  flex-direction: column;
}

dialog {
  margin: auto;
  border-radius: 2vh;
  border-style: none;
  box-shadow: var(--shadow-elevation-high);
  display: grid;
  max-inline-size: min(90vw, 60ch);
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  background-color: var(--off-white);
  overflow: hidden;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
  transition: backdrop-filter .5s ease;
}

html:has(dialog[open]){
  overflow: hidden;
}




dialog > form {
  display: grid;  
  grid-template-rows : auto 1fr auto;
  grid-template-columns: auto auto;
  row-gap:0.5vw;
  align-items: start;
  max-block-size: 80vh;
  max-block-size: 80dvb;
}

dialog > form > header {
  grid-column: 1 / 3;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  background-color: var(--off-white);
}

dialog > form > header > button {
  display: flex;
  border-radius: 0.25vh;
  padding: 0.75ch;
  aspect-ratio: 1;
  flex-shrink: 0;
  place-items: center;
  stroke: currentColor;
  stroke-width: 3px;
  background-color: var(--light-red);
  color: var(--black);
  border-color: var(--black);


}

.dialog-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vh 0.5vw;
}

#tasks-container {
    padding: 1vh;
    display: flex;
    flex-direction: column;
}

.subheading {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid var(--black);
}